name: CI

on:
  push:
  workflow_dispatch:

concurrency:
  group: ci-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yaml

  build:
    name: Build
    uses: ./.github/workflows/build.yaml

  test:
    name: Test
    uses: ./.github/workflows/test.yaml
    secrets: inherit

  release:
    name: Create release
    if: startsWith(github.ref, 'refs/tags/v')
    needs:
      - lint
      - build
      - test
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write
    steps:
      - name: Download sdist artifact
        uses: actions/download-artifact@v6
        with:
          name: sdist
          path: ./dist

      - name: Download wheels artifact
        uses: actions/download-artifact@v6
        with:
          name: wheels
          path: ./dist

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: ./dist/*

  publish:
    name: Publish package to PyPI
    if: startsWith(github.ref, 'refs/tags/v')
    needs:
      - lint
      - build
      - test
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - name: Download sdist artifact
        uses: actions/download-artifact@v6
        with:
          name: sdist
          path: ./dist

      - name: Download wheels artifact
        uses: actions/download-artifact@v6
        with:
          name: wheels
          path: ./dist

      - name: Upload distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
