name: Test

on:
  # push:
  # pull_request:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

concurrency: test-${{ github.sha }}

jobs:
  test:
    name: Test with Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    env:
      CONTIGUITY_PROJECT_ID: ${{ secrets.CONTIGUITY_PROJECT_ID }}
      CONTIGUITY_TOKEN: ${{ secrets.CONTIGUITY_TOKEN }}
      CONTIGUITY_DATA_KEY: ${{ secrets.CONTIGUITY_DATA_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install project dependencies
        run: uv sync --no-install-project --all-groups --python ${{ matrix.python-version }}

      - name: Download sdist artifact
        uses: actions/download-artifact@v6
        with:
          name: sdist
          path: ./dist

      - name: Install package
        run: uv pip install dist/*.tar.gz

      - name: Run pytest
        run: uv run pytest tests
